<div>
    <form class="col-lg-2" role="form">
        <div class="form-group">
            <label for="ProductName"
                   class="control-label">What shall we call this "Masterpiece"?</label>
            <input type="text"
                   name="ProductName"
                   id="ProductName"
                   ng-model="model.ProjectName"
                   class="form-control"
                   placeholder="Code Name" />
        </div>

        <div class="form-group">
            <label for="ProductOwner"
                   class="control-label">Name of Genius asking for estimate?</label>
            <input type="text"
                   name="ProductOwner"
                   id="ProductOwner"
                   ng-model="model.ProductOwner"
                   class="form-control"
                   placeholder="(Son of a) Bitch!" />
        </div>

        <div class="form-group">
            <label for="DueDate"
                   class="control-label">Did this genius actually give a deadline?</label>
            <input type="date"
                   name="DueDate"
                   id="DueDate"
                   ng-model="model.Deadline"
                   class="form-control"
                   placeholder="mm/dd/yyyy" />
        </div>

        <div class="form-group">
            <label for="Units"
                   class="control-label">Units</label>
            <div id="Units"
                 class="checkbox"
                 ng-repeat="unit in unitsOfMeasure">

                <input type="checkbox"
                       checklist-model="model.Units"
                       checklist-value="unit" />
                <label>{{unit.Text}}</label>
             </div>
        </div>

        <div class="form-group">
            <label for="Members"
                   class="control-label">Team Members</label>
            <table id="Members"
                   class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roles</th>
                        <th>Work Load</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in model.TeamMembers">
                        <td><span editable-text="member.Name">{{member.Name}}</span></td>
                        <td><span editable-text="member.Roles">{{member.Roles}}</span></td>
                        <td><span editable-text="member.WorkLoad">{{member.WorkLoad}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
