<h3>Recent Estimates</h3>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Masterpiece</td>
                <td>Genius</td>
                <td>Members</td>
                <td>Deadline</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="model in results">
                <td><a href="#/Estimate/view?estimateId={{ model.EstimateId }}">{{ model.ProjectName }}</a></td>
                <td>{{ model.ProductOwner }}</td>
                <td><span ng-repeat="member in model.Members">{{ member.Name }}</span></td>
                <td>{{ model.Deadline | date : 'shortDate' }}</td>
            </tr>
        </tbody>
    </table>
</div>
