<div class="estimate-view">
    <div class="form-group">
        <label class="control-label"
               for="ProjectName">What shall we call this "Masterpiece"?</label>
        <span id="ProjectName"
              class="form-control">{{ model.ProjectName }}</span>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="ProductOwner">Name of Genius asking for estimate?</label>
        <span id="ProductOwner"
              class="form-control">{{ model.ProductOwner }}</span>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="DueDate">Did this genius actually give a dealine?</label>
        <span id="DueDate"
              class="form-control">{{ model.Deadline | date : 'shortDate' }}</span>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="Units">Units</label>
        <ul id="Units"
             class="list-group">
            <li ng-repeat="unit in model.Units"
                class="list-group-item"
                title="unit.Description">{{ unit.Text }}</li>
        </ul>
    </div>
</div>
